@require "iconfont/iconfont.css"

.iconfont
  font-size $common-size

  &.icon-arrow-up, &.icon-arrow-bottom, &.icon-arrow-left
    &:before
      content '\e622'

  &.icon-arrow-up:before
    transform rotate(-90deg)

  &.icon-arrow-bottom:before
    transform rotate(90deg)

  &.icon-arrow-left:before
    transform rotate(180deg)
